* {
    /* kanter på elementer til visualisere design
    outline-color: red;
    outline-style: dotted;
    outline-offset: -1px;
    */
    scroll-behavior: smooth;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

body {
    background-color: hsl(217, 0%, 15%);

}

header nav ul li img {
    width: 20vw;

    height: auto;
    transition: filter 0.3s linear;
}

.backgroundImg {
    position: fixed;
    background-image: url("assets/chinook-BG-01.svg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    transition: filter 0.3s linear;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


li button {
    border: none;
    font-size: 1rem;
    color: hsla(0, 5%, 100%, 0.80);
    background-color: #535353;
    border-width: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    transition: background-color 0.3s linear;

}


li button:active {
    background-color: #bbbbee;
}

.chartContainer {
    background-color: rgba(83, 83, 83, 0.8);

    width: 70vw;
    min-height: 50vh;
    align-content: center;
    justify-self: center;
    border-radius: 2vw;
    margin-top: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}




.tableContainer {
    background-color: rgba(83, 83, 83, 0.8);

    width: 70vw;
    min-height: 50vh;
    align-content: center;
    justify-self: center;
    border-radius: 2vw;
    margin-top: 3vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#barChart {
    max-height: 50vh;

}


.horizontalFlex {
    display: flex;

}

#tableChart {
    display: flex;
    flex-direction: column;
}

.tableItem {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: space-between;
    border-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 2vh;
    padding-top: 2vh;
    color: hsl(0, 5%, 75%);
}

.tableItem p {
    padding-left: 1vw;
    padding-right: 1vw;
}

.itemIcon {
    margin-right: -1vw;
}

#titil1 h1 {
    display: flex;
    justify-content: center;
    color: hsla(0, 5%, 85%, 0.75)
}

#titil1 {
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: #535353;
    width: 70vw;
    border-radius: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 4vh;
    font-style: italic;

    color: hsla(0, 5%, 100%, 0.80);
    transition: background-color 0.3s linear;
}

#titel_texst {
    color: hsla(0, 5%, 75%, 0.75);
}

header h1 {

    color: white;
}



/*Mobile version*/
@media (max-width: 1000px) {

    nav ul {
        padding: 0;
        display: flex;
        justify-content: center;
        align-self: center;

    }

    @media (max-width: 1000px) {
        nav ul {
            display: grid;

            grid-template-columns: 1fr 1fr;
            gap: 1vh;
            width: 90%;
            margin: 2vw;
            padding: 0vw;
            align-self: center;
            justify-content: center;

        }


        nav ul li:first-child {

            grid-column: 1 / span 2;
            text-align: center;
            padding-bottom: 2vh;
            margin: 0;
        }


        nav ul li {
            width: 100%;
            text-align: center;

            padding: 0;
            margin: 0;
        }


        nav ul li button {
            width: 90%;
            font-size: 1.2rem;
            padding: 1rem;
        }
    }

    nav ul li button {
        width: 100%;
        ;
    }

    #logo {
        display: flex;
        padding: 0;
        height: 5vh;

    }

    .chartContainer {
        max-height: 10vh;
        padding: 0;

    }

    #barChart {
        max-height: 40vh;

    }

    #titil1 {
        width: 84vw;


    }

    header nav ul li img {
        width: 50vw;

        height: auto;
    }


}