*{
    /*  kanter på elementer til visualisere design 
    outline-color: red;
    outline-style: dotted;
    outline-offset: -1px;
    */


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
body{
    background-color: hsl(210, 10%, 70%);

}

.backgroundImg{
    position: fixed;
    background-image: url("assets/portfolio-BG.svg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    transition: filter 0.3s linear;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


li button {
    border: none;
    font-size: 1rem;
    color: hsla(0, 5%, 80%, 0.80);
    background-color: #535353;
    border-width: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;

    :hover {
        background-color: #8888ff;
        color: #535353;
    }
}

li button:hover {
    background-color: #8888ff;
    color: #535353;
}

li button:active {
    background-color: #bbbbee;
}

.chartContainer {
    background-color: rgba(83, 83, 83, 0.8);

    width: 70vw;
    min-height: 50vh;
    align-content: center;
    justify-self: center;
    border-radius: 2vw;
    margin-top: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#barChart {
    max-height: 50vh;
}





.horizontalFlex{
    display: flex;

}

#tableChart {
    display: flex;
    flex-direction: column;
}

.tableItem {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: space-between;    
    border-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 2vh;
    padding-top: 2vh;
    color:hsl(0, 5%, 75%) ;
}

.tableItem p {
    padding-left: 1vw;
    padding-right: 1vw;
}

.itemIcon {
    margin-right: -1vw;
}

#titil1 h1 {
display: flex;
    justify-content: center;
    color:hsla(0, 5%, 75%, 0.75)

}

#titil1{
    display: flex;
    justify-content: center;
    justify-self: center;
    background-color: #535353;
    width: 70vw;
    border-radius: 2vw;
    padding-top:2vh ;
    padding-bottom: 2vh;
    font-size: 4vh;
    font-style: italic;

    color: hsl(0,0%,45%)

}
#titel_texst{
    color:hsla(0, 5%, 75%, 0.75);
}